@import 'tailwindcss';
@import '@fontsource/inter/index.css';

html {
  scroll-behavior: smooth;
}

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.bg-animated-dark {
  background: linear-gradient(-45deg, #0f0f0f, #1a1a1a, #2a2a2a, #1a1a1a);
  background-size: 400% 400%;
  animation: gradientBackground 15s ease infinite;
}
